<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cannoli Factory</title>
    <link rel="icon" type="image/png" href="./../assets/images/cannoli.png">
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <a href="./../index.html"><img class="logo" src="./../assets/images/1-95121d1c.png" alt="logotipo" width="275" height="295"></a>
        <h1>Cannoli Factory</h1>
    </header>
    <nav>
        <ul class="menu">
           <li><a href="./../index.html">Inicio</a></li> 
           <li><a href="./../views/producto.html">Producto</a></li> 
           <li><a href="./../views/presupuesto.html">Presupuestos</a></li> 
           <li><a class="selected" href="./../views/contacto.html">Contacto</a></li> 
        </ul>
        <form>
            <input type="search" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </nav>
    <main>
        <section>
            <h2 hidden>Contactanos</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.0159445824256!2d-0.3683553!3d39.4689685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048b6e8127b13%3A0xf055bc736a9cc21f!2sMercado%20de%20Col%C3%B3n!5e0!3m2!1ses!2ses!4v1726453259554!5m2!1ses!2ses" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="address">
                <span>Direccion:</span> Carrer de Jorge Juan, 19, L'Eixample, 46004 València, Valencia.<br>
                <span>Tel:</span> 987654123/654321789.<br>
                <span>Email:</span> cannolifactory@gmail.com.
            </p>
        </section>
        <aside>
            <h2>Contenido Relacionado</h2>
            <img class="foto" src="./../assets/images/1-95121d1c.png" alt="foto" width="275" height="295">
                <ul>
                    <li><a href="#">Recetas de cannoli clasico en la cocina Italiana</a></li>
                    <li><a href="#">La Historia del Cannoli</a></li>
                    <li><a href="#">Maridajes de vino para postres italianos</a></li>
                    <li><a href="#">El Blog de la Cina Italiana</a></li>
                    <li><a href="#">Eventos gastronomicos Valencia 2024</a></li>
                </ul>
        </aside>
    </main>
    <footer>
        <div>
            <a href="https://x.com/?lang=es"><img class="fa-brands fa-x" src="./../assets/images/gorjeo.png" alt="logotipo de X" width="512" height="512"></a>
            <a href="https://www.facebook.com/?locale=es_ES"><img class="fa-brands fa-facebook" src="./../assets/images/facebook.png" alt="logotipo de facebook" width="512" height="512"></a>
            <a href="https://www.instagram.com"><img class="fa-brands fa-instagram" src="./../assets/images/logotipo-de-instagram.png" alt="logotipo de instagram" width="512" height="512"></a>
        </div>
        <p>Carrer de Jorge Juan, 19, L'Eixample, 46004 València, Valencia. </p>
        <p>&copy;2024 Cannoli Factory</p>
    </footer>
    <script src="./js/javascript.js"></script>
</body>
</html>