<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cannoli Factory</title>
    <link rel="icon" type="image/png" href="./../assets/images/cannoli.png">
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <a href="./index.html"><img class="logo" src="./../assets/images/1-95121d1c.png" alt="logotipo" width="275" height="295"></a>
        <h1>Cannoli Factory</h1>
    </header>
    <nav>
        <ul class="menu">
           <li><a href="./../index.html">Inicio</a></li> 
           <li><a class="selected" href="./../views/producto.html">Producto</a></li> 
           <li><a href="./../views/presupuesto.html">Presupuestos</a></li> 
           <li><a href="./../views/contacto.html">Contacto</a></li> 
        </ul>
        <form>
            <input type="search" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </nav>
    <main>
        <section class="productostyle">
            <h2 hidden>Variedad de Cannoli</h2>
            <img src="./../assets/images/Cannoli1.jpg" alt="cannoli chocolate" width="181" height="279">
            <img src="./../assets/images/Cannoli2.jpg" alt="cannoli pistacho" width="225" height="225">
            <img src="./../assets/images/Cannoli3.jpg" alt="cannoli pistacho mini" width="275" height="183">
            <img src="./../assets/images/Cannoli4.jpg" alt="cannoli pistacho pack 12" width="276" height="183">
            <img src="./../assets/images/Cannoli5.jpg" alt="cannoli crema de avellana" width="300" height="168">
            <img src="./../assets/images/Cannoli6.jpg" alt="cannoli chocolate unidad" width="275" height="183">
        </section>
        <aside>
            <h2>Contenido Relacionado</h2>
            <img class="foto" src="./../assets/images/1-95121d1c.png" alt="foto" width="275" height="295">
                <ul>
                    <li><a href="#">Recetas de cannoli clasico en la cocina Italiana</a></li>
                    <li><a href="#">La Historia del Cannoli</a></li>
                    <li><a href="#">Maridajes de vino para postres italianos</a></li>
                    <li><a href="#">El Blog de la Cina Italiana</a></li>
                    <li><a href="#">Eventos gastronomicos Valencia 2024</a></li>
                </ul>
        </aside>
    </main>
    <footer>
        <div>
            <a href="https://x.com/?lang=es"><img class="fa-brands fa-x" src="./../assets/images/gorjeo.png" alt="logotipo de X" width="512" height="512"></a>
            <a href="https://www.facebook.com/?locale=es_ES"><img class="fa-brands fa-facebook" src="./../assets/images/facebook.png" alt="logotipo de facebook" width="512" height="512"></a>
            <a href="https://www.instagram.com"><img class="fa-brands fa-instagram" src="./../assets/images/logotipo-de-instagram.png" alt="logotipo de instagram" width="512" height="512"></a>
        </div>
        <p>Carrer de Jorge Juan, 19, L'Eixample, 46004 València, Valencia. </p>
        <p>&copy;2024 Cannoli Factory</p>
    </footer>
    <script src="./js/javascript.js"></script>
</body>
</html>